<div class="nav">
  <% if current_user %>
    <%= turbo_frame_tag 'post_form' do %>
      <%= link_to 'New post', new_post_path %>
    <% end %>
    <%= link_to 'Sign out', destroy_user_session_path, data: { turbo_method: :delete } %>
  <% else %>
    <%= link_to 'Sign in', new_user_session_path %>
  <% end %>
</div>
